#container {

    width: 300px;
    height: 300px;
    border: 10px solid black;
    vertical-align: center;
    text-align: center;
    object-fit: contain;
    display: inline-block;
  }

#seasonTile
.seasonImg {
    width: 90%;
    height: 66%;
    background-color: blue;
}
.seasonName {
    width: 90%;
    height: 34%;
    color: black;
    background-color: yellow;
    /* text-align: center; */
    margin: 0 auto;
    }
